footer{
    display: flex;
    padding-block: 24px;
    gap: 24px;
    font: 14px/150% var(--font-family);
}

footer span:nth-child(1){ /*o numero é contagem de filhos, nao desse el*/
    margin-right: auto;
}